@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Unidade de medida relativa em relação à altura do elemento pai: vh => viewport's heigh */
    height: 100vh;
    /* Unidade de medida relativa em relação à largura do elemento pai: vw => viewport's width */
    width: 100vw;
    background-color: #ffff;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 420px;
    margin: 0 auto;
}

.usuario-box{
    padding: 30px;
    display: flex;
    background-color: #ffff;
    /* O box-shadow gerei em um site pois ainda não entendo profundamente seu funcionamento */
    box-shadow: 0 8px 36px rgb(67 67 67 / 6%);
    border-radius: 10px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-usuario {
    margin-left: 2rem;
}

.bio-usuario {
    padding: 10px 0 30px;
}

.bio-usuario a {
    background: #dddd;
    color: #2222;
    padding: 6px 22px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 8px;
    font-size: 13px;
}

.bio-usuario a:hover {
    background: #BD1E26;
    color: #ffff;
}

.info-usuario ul {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 0;
}

.info-usuario ul li {
    list-style: none;
}
