@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    place-items: center;
    /* Unidade de medida relativa em relação à altura do elemento pai: vh => viewport's heigh */
    min-height: 100vh;
    background-color: #151515;
}

#form {
    width: clamp(280px, 90vw, 400px);
    height: 50px;
    display: flex;
}

#form input,
#form button {
    flex-basis: 70%;
    background-color: #0b0b0b;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 0 0 .5rem rgba(255, 255, 255, .1);
    border-radius: .5rem 0 0 .5rem;
    padding: 0 1rem;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 420px;
    margin: 0 auto;
}

.usuario-box {
    padding: 30px;
    display: flex;
    background-color: #ffff;
    /* O box-shadow gerei em um site pois ainda não entendo profundamente seu funcionamento */
    box-shadow: 0 8px 36px rgb(67 67 67 / 6%);
    border-radius: 10px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-usuario {
    margin-left: 2rem;
}

.bio-usuario {
    padding: 10px 0 30px;
}

.bio-usuario a {
    background: #dddd;
    color: #2222;
    padding: 6px 22px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 8px;
    font-size: 13px;
}

.bio-usuario a:hover {
    background: #BD1E26;
    color: #ffff;
}

.info-usuario ul {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 0;
}

.info-usuario ul li {
    list-style: none;
}

#form input {
    padding: 12px;
    border: none;
    background: #F6F6F6;
    margin-bottom: 20px;
    border-radius: 6px;
    min-width: 250px;
    border: none;
}

#form input::placeholder {
    color: #6666;
}

#form input:focus {
    outline: none;
}

/* Pesquisei este mediaquery no MDN da Mozilla para deixar o layout responsivo */
@media only screen and (max-width: 600px) {
    .usuario-box {
        flex-direction: column;
    }

    .avatar {
        margin: 0 auto 10px;
        display: block;
        text-align: center;
    }

    .info-usuario {
        margin-left: 0;
    }

    .info-usuario ul {
        width: 100%;
    }

}