body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

form {
  margin: 50px;
}

label {
  color: azure;
}

.input {
  color: black;
}

input {
  margin-right: 10px;
  margin-bottom: 10px;
}

