#container {
    display: grid;
}

h2 { margin: 0px; }

#titulo {
    margin: auto;
}

#painel {
    display: flex;
    margin: auto;
}

#lado-cartao, #secao-cartao, #lado-form,#secao-cartao {
    margin: 0px;
}