html, body {
  height: 100%;
  width: 100%;
}

.container {
  background-color: aquamarine;
  position: absolute;
  display: flexbox;
  justify-content: space-evenly;
  align-content: space-between;

  margin: 10px;
  border-style: dashed;
  border-color: blueviolet;
}