html, body {
  height: 100%;
  width: 100%;
}

.container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-content: center;

  border-color: blueviolet;
}

.container .aula {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-content: center;

  border-style: groove;
  border-radius: 4pt;
  border-color: blue;
}